<!DOCTYPE html>
<html>
<head>
  <title>Vicky Chats</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h3>Vicky Chats!</h3>
  <form method="GET" action="/chats/new" style="text-align:center;">
    <button>New Chat</button>
  </form>
  <br>
  <% for(let chat of chats) { %>
    <div class="chat">
      <p><b>From:</b> <i><%= chat.from %></i></p>
      <div class="msg">
        <p><%= chat.msg %></p>
      </div>
      <p><b>To:</b> <i><%= chat.to %></i></p>
      <div style="margin-top:10px;">
        <form method="GET" action="/chats/<%= chat._id %>/edit" style="display:inline;">
          <button>Edit</button>
        </form>
        <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE" style="display:inline;">
          <button>Delete</button>
        </form>
      </div>
      <div style="margin-top:10px;">
        <% if (chat.createdAt) { %>
          <em>Created: <%= chat.createdAt.toLocaleString() %></em><br>
        <% } else { %>
          <em>Created time not available</em><br>
        <% } %>
        <% if (chat.updatedAt) { %>
          <em>Last edited: <%= chat.updatedAt.toLocaleString() %></em>
        <% } else { %>
          <em>Last edited time not available</em>
        <% } %>
      </div>
    </div>
  <% } %>
</body>
</html>